{% extends "base.html" %}
{% load static %}
{% block body %}

        {% comment %} {{object.name}} <br>
        {{posts}} <br> {% endcomment %}

            {% comment %} {% for post in posts%}
            <img src="{{post.photo.url}}" alt="" class="card-img-top"  style="width:400px;height:250px;"> <br>
            {{ post.date }}<br>
            {{ post.title }}<br>
            {{ post.content }}<br>
         By     {{ post.author }}<br> <hr>

            {% endfor %} {% endcomment %}

            <section class="page-header section-sm">
               <div class="container">
                 <div class="row">
                   <div class="col-lg-12 text-center">
                     <p class="mb-2">Showing posts from</p>
                     <h1 class="section-title h2 mb-3">
                       <span>{{category.name}}</span>
                     </h1>
                     <ul class="list-inline breadcrumb-menu mb-3">
                       <li class="list-inline-item"><a href="{% url 'index3' %}"><i class="ti ti-home"></i>  <span>Home</span></a></li>
                       <li class="list-inline-item">• &nbsp; <a href="{% url 'categorieslist' %}"><span>Categories</span></a></li>
                       <li class="list-inline-item">• &nbsp; <a href="categories-single.html"><span>{{category.name}}</span></a></li>
                     
                     </ul>
                   </div>
                 </div>
               </div>
             </section>




            {% for post in posts%}
             <div class="container">
               <div class="row gy-5 gx-4 g-xl-5">
                 <div class="col-lg-6">
                   <article class="card post-card h-100 border-0 bg-transparent">
                     <div class="card-body">
                       <a class="d-block" href="{% url 'index3' %}"
                         title="How to hire a developer straight out of bootcamp — without getting burned">
                         <div class="post-image position-relative">
                           <img class="w-100 h-auto rounded" src="{{post.photo.url}}" alt="How to hire a developer straight out of bootcamp — without getting burned" width="970" height="500">
                         </div>
                       </a>
                       <ul class="card-meta list-inline mb-3">
                         <li class="list-inline-item mt-2">
                           <i class="ti ti-calendar-event"></i>
                           <span>{{post.date}}</span>
                         </li>
                         {% comment %} <li class="list-inline-item mt-2">—</li>
                         <li class="list-inline-item mt-2">
                           <i class="ti ti-clock"></i>
                           <span>03 min read</span>
                         </li> {% endcomment %}
                       </ul>
                       <a class="d-block" href="blog-single.html"
                         title="How to hire a developer straight out of bootcamp — without getting burned">
                         <h3 class="mb-3 post-title">
                          {{post.title}}
                         </h3>
                       </a>
                       <p>{{post.content}}
                       </p>
                     </div>
                     <div class="card-footer border-top-0 bg-transparent p-0">
                       <ul class="card-meta list-inline">
                         <li class="list-inline-item mt-2">
                           <a href="{% url 'author' %}" class="card-meta-author" title="Read all posts by - Chris Impey">
                             <img class="w-auto" src="{{post.autphoto.url}}" alt="Chris Impey" width="26" height="26"> by <span>{{post.author}}</span>
                           </a>
                         </li>
                         {% comment %}
                          <li class="list-inline-item mt-2">•</li>
                         <li class="list-inline-item mt-2">
                           <ul class="card-meta-tag list-inline">
                             <li class="list-inline-item small"><a href="tag-single.html">Lifestyle</a></li>
                             <li class="list-inline-item small"><a href="tag-single.html">Startups</a></li>
                           </ul>
                         </li> 
                         {% endcomment %}
                       </ul>
                     </div>
                   </article>
                 </div>








                 {% endfor %}
{% endblock body %}