{% extends "base.html" %}
{% load static %}
{% block body %}

<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="mb-5">
          <h1 class="h1 mb-4 post-title">OUR AUTHORS</h1>

<form>
  {% csrf_token %}

        <tr>
          <td>  {% for s in data %} </td>
    <hr>
        <tr>
          {% comment %} {{form}} {% endcomment %}
          <td> {{ s.author}} </td><br>
        </tr>
      </hr>
      <br>

          {% endfor %} 
        </tr>         
 
      </form>

{% endblock body %}