{% extends "base.html" %}
{% load static %}
{% block body %}

<form>
    {% csrf_token %}
          <tr>
            <td>  {% for s in data %} </td>
            <tr>
          
            <img src="{{s.photo.url}}" alt="" class="card-img-top" width="400" height="800">
            </tr>
            <br>
            <tr>
             
              <td>     {{ s.date }} </td>
            </tr>
       
            <br>
          <tr>
            <td> Title  :  {{ s.title }} </td>
          </tr>
          <br>
          <tr> 
            <td> Blog  :  {{ s.blog}} </td>
          </tr>
         <br>
            <tr>
            <td> by   {{ s.author }} </td>
          </tr>
          <hr>
       

            {% endfor %} 
          </tr>         
   


        </form> 






{% endblock body %}