{% extends "base.html" %}
{% load static %}
{% block body %}
  <body>

    <section class="page-header section-sm">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="section-title h2 mb-3">
              <span>Change Password</span>
            </h1>
            <ul class="list-inline breadcrumb-menu mb-3">
              <li class="list-inline-item"><a href="{% url 'index3' %}"><i class="ti ti-home"></i>  <span>Home</span></a></li>
              <li class="list-inline-item">• &nbsp; <a href="about.html"><span>Change Password</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section>
        <div class="container">

       <form action ="", method="post" novalidate>
        {% csrf_token %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors%}
            <p> {{ error }} </P>
        {% endfor %}
        {% endif %}

        {% for fm in form %}
                {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br> <br>
        {% endfor %}
    <input type="submit" value="Save">

       </form>
  
    </div>
</section>

</body>

{% endblock body %}