{% extends "base.html" %}
{% load static %}
{% block body %}
  <body>

    <section class="page-header section-sm">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="section-title h2 mb-3">
              <span>Update Profile</span>
            </h1>
            <ul class="list-inline breadcrumb-menu mb-3">
              <li class="list-inline-item"><a href="{% url 'index3' %}"><i class="ti ti-home"></i>  <span>Home</span></a></li>
              <li class="list-inline-item">• &nbsp; <a href="about.html"><span>Update Profile</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">

        
        <form method="post" mt="10">
          {{form.as_p}}
          {% csrf_token %}
          <input type = "submit" value= "Update">
        </form>
    
      </div>
    </section>
    
  </body>

  {% endblock body %}